body {
    background-color: rgb(196, 255, 235);
}

.intro {

    background-color:rgb(131, 210, 255);
    padding: 15px;

}

.school {

    background-color:rgb(233, 200, 248);
    color:rgb(130, 76, 216);
    padding: 15px;

}

#schooltitle {

    color:rgb(123, 15, 173);

}

h1 {

    color: rgb(41, 54, 172);
    margin: 20px;
}

header {
    
    font-size: 25px;
    margin: 20px;

}

p {

    font-size: 18px;
    margin: 20px;
}

#introparagraph {

    color:rgb(65, 99, 212);

}

img {

    padding: 20px;

}

footer {

    background-color:rgb(248, 200, 218);
    color: rgb(223, 0, 93);
    margin: 10px;
    padding: 20px;

}